<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="backend server" />
    <link
      rel="shortcut icon"
      href="https://upload.wikimedia.org/wikipedia/commons/7/71/Earth_icon_2.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Server</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

      body {
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>

  <body class="bg-black">
    <div class="flex flex-col justify-center items-center h-screen">
      <div class="avatar mb-8">
        <div
          class="w-48 md:w-72 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
        >
          <a href="https://job-onboard.web.app/" target="_blank">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/7/71/Earth_icon_2.png"
            />
          </a>
        </div>
      </div>
      <h1
        class="flex justify-center items-center text-3xl lg:text-5xl text-white"
      >
        Welcome to the Server!
      </h1>
      <!-- <span class="text-white mt-[20px]"
        >Team -
        <a href="" target="_blank" class="text-accent font-semibold text-lg"
          >Nazmul & Sohag</a
        ></span -->
      >
      <a href="" class="btn btn-primary w-52 mt-8 mb-3">Follow Us On GitHub</a>
      <a href="" class="btn btn-neutral w-44">Live Client Site</a>
    </div>
  </body>
</html>
